ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  padding-left: 15px;
  color: #000;
  opacity: 0.75;
}
body, ul, a, li {
  font-family: arial,sans-serif;
}

/*li {
  display: inline;
}*/
